.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgb(8, 37, 85);
  .container {
    width: 1400px;
    display: flex;
    justify-content: center;
    form {
      width: 960px;
      display: flex;
      justify-content: center;
      padding: 100px 0;
      gap: 50px;

      .left,
      .right {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input {
          display: flex;
          flex-direction: column;
          gap: 8px;

          input {
            width: 90%;
            height: 42px;
            border-radius: 10px;
            padding: 0 8px;
            border: 1px solid lightgray;
            outline: none;
            color:  rgb(8, 37, 85);

            &::placeholder {
              color:  rgba(8, 37, 85, 0.5);
            }
          }
        }
        h1 {
          font-size: 32px;
          font-weight: 500;
          margin-bottom: 8px;
          color:  rgb(8, 37, 85);
        }
      }
      .left {
        button {
          width: 90%;
          height: 42px;
          margin-top: 16px;
          background-color: rgb(37, 103, 210);
          border: 1px solid rgb(37, 103, 210);
          color: white;
          border-radius: 10px;
          transition: all 0.5s;

          &:hover {
            background-color: rgb(75, 138, 241);
            border: 1px solid rgb(75, 138, 241);
          }
        }
      }
      .right {
        .file {
          display: flex;
          align-items: center;
          border: 1px solid lightgray;
          width: 90%;
          height: 60px;
          padding: 0 16px;
          border-radius: 10px;
        }
        p {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // Media query for tablets and small screens
  @media screen and (max-width: 1024px) {
    .container {
      width: 80%;

      form {
        .left,
        .right {
          h1 {
            font-size: 26px;
          }
        }
      }
    }
  }
  // Media query for mobile screens
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 20px 24px;
      padding-bottom: 60px;
      form {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        .right {
          margin-top: 16px;

          h1 {
            font-size: 26px;
          }
        }
      }
    }
  }
}
