.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);

  .container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;

    .content {
      display: flex;
      justify-content: space-between;

      .quick_links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #808080;

        span {
          &:hover {
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
      .privacy {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #808080;

        span {
          &:hover {
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
      .socila_links {
        display: flex;
        gap: 26px;
        font-size: 38px;

        span {
          color: black;
          &:hover {
            color: #808080;
            cursor: pointer;
          }
        }
      }
    }

    p {
      margin-top: 28px;
      color: grey;
      span {
        font-size: 18px;
        font-family: "Rubik Mono One", monospace;
        font-weight: 500;
      }
    }
  }
  // Media query for tablets and small screens
  @media screen and (max-width: 1024px) {
    .container {
      width: 80%;
    }
  }
  // Media query for mobile screens
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 20px 24px;

      .content{
        .socila_links{
          display: none;
        }
      }
    }
  }
}
