.login {
  display: flex;
  justify-content: center;
  height: 700px;
  .container {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 70%;
      height: 80%;
      display: flex;
      gap: 34px;
      border: 2px solid rgb(255, 230, 200);
      background-color: rgb(255, 248, 240);
      border-radius: 10px;

      .left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .middle {
        height: 80%;
        width: 2px;
        background-color: rgb(177, 116, 41);
        margin: auto 0;
        border-radius: 10px;
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 80px;
        color: rgb(84, 49, 6);

        h1 {
          font-size: 40px;
          font-weight: 500;
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .input {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 80%;

            input {
              width: 100%;
              height: 42px;
              border-radius: 10px;
              padding: 0 8px;
              outline: none;
              border: 1px solid lightgray;
              &::placeholder {
                color: rgb(196, 196, 196);
              }
            }
          }
          .checkbox {
            display: flex;
            align-items: center;
            gap: 8px;
            input {
              height: 22px;
              width: 22px;
            }
          }
          .options {
            display: flex;
            gap: 16px;
            font-size: 14px;
            span {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          button {
            width: 80%;
            height: 42px;
            border-radius: 10px;
            border: 1px solid rgb(37, 103, 210);
            background-color: rgb(37, 103, 210);
            color: white;
            margin-top: 10px;
          }
          .error{
            color: red;
          }
        }
      }
    }
  }
  // Media query for tablets and small screens
  @media screen and (max-width: 1024px) {
    height: 850px;
    .container {
      width: 100%;
      align-items: normal;

      .small_screen {
        background-color: rgb(244, 248, 255);
        width: 50%;
        height: 550px;
        margin-top: 120px;
        border-radius: 10px;
        padding: 20px 24px;

        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 24px;
          color: rgb(8, 37, 85);

          h1 {
            font-size: 40px;
            font-weight: 500;
          }

          form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .input {
              display: flex;
              flex-direction: column;
              gap: 8px;
              width: 80%;

              input {
                width: 100%;
                height: 42px;
                border-radius: 10px;
                padding: 0 8px;
                outline: none;
                border: none;
                &::placeholder {
                  color: rgb(198, 206, 219);
                }
              }
            }
            .checkbox {
              display: flex;
              align-items: center;
              gap: 8px;
              input {
                height: 22px;
                width: 22px;
              }
            }
            .options {
              display: flex;
              flex-direction: column;
              gap: 16px;
              font-size: 14px;
              span {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            button {
              width: 100%;
              height: 42px;
              border-radius: 10px;
              border: 1px solid rgb(37, 103, 210);
              background-color:rgb(37, 103, 210);
              color: white;
              margin-top: 10px;
            }
            .error{
              color: red;
            }
          }
        }
      }
    }
  }
  // Media query for mobile screens
  @media screen and (max-width: 768px) {
    height: auto;
    .container {
      width: 100%;
      align-items: normal;

      .small_screen {
        background-color: white;
        width: 100%;
        height: 550px;
        margin-top: 24px;
        border-radius: 10px;
        padding: 20px 24px;

        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 24px;
          color:  rgb(8, 37, 85);

          h1 {
            font-size: 36px;
            font-weight: 500;
          }

          form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .input {
              display: flex;
              flex-direction: column;
              gap: 8px;
              width: 80%;

              input {
                width: 100%;
                height: 42px;
                border-radius: 10px;
                padding: 0 8px;
                outline: none;
                border: 1px solid rgb(198, 206, 219);
                &::placeholder {
                  color:rgb(198, 206, 219);
                }
              }
            }
            .checkbox {
              display: flex;
              align-items: center;
              gap: 8px;
              input {
                height: 22px;
                width: 22px;
              }
            }
            .options {
              display: flex;
              flex-direction: column;
              gap: 16px;
              font-size: 14px;
              span {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            button {
              width: 100%;
              height: 45px;
              border-radius: 10px;
              border: 1px solid rgb(37, 103, 210);
              background-color: rgb(37, 103, 210);
              color: white;
              margin-top: 10px;
            }
            .error{
              color: red;
            }
          }
        }
      }
    }
  }
}
